<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345344636247-s25kp327qu1ntjqgtotoph2o80a2762v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345344636247-s25kp327qu1ntjqgtotoph2o80a2762v</string>
	<key>API_KEY</key>
	<string>AIzaSyDHdFME5mBxxOcu9u3weEaNYGqGAVweI50</string>
	<key>GCM_SENDER_ID</key>
	<string>345344636247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Immersio.immersio-ios</string>
	<key>PROJECT_ID</key>
	<string>immersions-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>immersions-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345344636247:ios:611b7fddb493304fd8fa12</string>
	<key>DATABASE_URL</key>
	<string>https://immersions-ios.firebaseio.com</string>
</dict>
</plist>